h1 Success!
p Here are your cards: 
- for( var i = 0; i < results.length; i++ ) {
- var textbody = results[i]
    p= textbody.trade_id ? textbody.trade_id : 'null'
    p= textbody.card_id ? textbody.card_id : 'null'
    p= textbody.cardOwner ? textbody.cardOwner : 'null'
    br
- }