h1 Success!
p Here are your trades: 
- for( var i = 0; i < results.length; i++ ) {
- var textbody = results[i]
    p= textbody.trade_id ? textbody.trade_id : 'null'
    p= textbody.trade_date ? textbody.trade_date : 'null'
    p= textbody.trade_author_id ? textbody.trade_author_id : 'null'
    p= textbody.trade_recipient_id ? textbody.trade_recipient_id : 'null'
    br
- }

