h1 Success!
p Here are your results: 
- for( var i = 0; i < results.length; i++ ) {
- var textbody = results[i]
    p= textbody.name ? textbody.name : 'null'
    p= textbody.email ? textbody.email : 'null'
    p= textbody.phone_num ? textbody.phone_num : 'null'
    p= textbody.profile_visibility ? textbody.profile_visibility : 'null'
- }